
.menu {
  display: none;
}

.header {
  justify-content: flex-start;
  position: relative;
  left: 4vw;
  gap: 5vw;
}

.navMenu {
  height: 10vh;
}

.navMenu *:nth-child(5) {
  position: absolute;
  right: 10vw;
}


.navMenu a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--font-color);
  justify-content: center;
  padding: var(--default-padding);
}


.navMenu a:hover {
  background-color: var(--secondary-color);
}
